.sheet_container{ id: "cont_1" }
  .path
    Way home..
  .content
    .headline_container
      %h1
        List of sheets
    .list_container
      %ul
        - @sheets.each do |sheet|
          %li= link_to sheet.title, sheet_path(sheet)
    .action_container
      = link_to 'New Sheet', new_sheet_path
  .sheet_container{ id: "cont_2" }
    .path
      Way home..
    .content
      .headline_container
        %h1
          List of sheets
      .list_container
        %ul
          - @sheets.each do |sheet|
            %li= link_to sheet.title, sheet_path(sheet)
      .action_container
        = link_to 'New Sheet', new_sheet_path
