/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "constants";

// Styles used to format the basics of sheetmachine
// mku, April 2012
body {
  background: #BAB2AB; 
}

// master container of the page
#page {
  padding-top: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;

  // content container
  #page_container {
    position: relative;
    top: $sheet_offset_y * -1;
    left: $sheet_offset_x * -1;
    width: $container_width;
    margin: 0 auto 0 auto;
  }
}
